<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Local-->
    <!--<add key="CosmosDb.ReadModelEndpoint" value="https://localhost:8081" />
    <add key="CosmosDb.ReadModelKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />-->
    
    <!--Dev-->
    <add key="CosmosDb.ReadModelEndpoint" value="mongodb://cosmosdb-wu2-prod1:57Xdf1TIvDC7Qfw7mGvJNSHBKb0lGnflkKz4mhDR9o2pHwG6mShmdHfFifCAqC8uuPdFJB8TCODLMUPySm0aOQ==@cosmosdb-wu2-prod1.documents.azure.com:10255/?ssl=true" />
    <add key="CosmosDb.ReadModelKey" value="57Xdf1TIvDC7Qfw7mGvJNSHBKb0lGnflkKz4mhDR9o2pHwG6mShmdHfFifCAqC8uuPdFJB8TCODLMUPySm0aOQ==" />
    <add key="CosmosDb.CollectionId" value="benchmark" />
    <add key="CosmosDb.DatabaseId" value="benchmark" />
    <add key="CosmosDb.Throughput" value="20000" />
    
    <add key="Load.Concurrency" value="1" />
    <add key="Load.Records" value="1" />
    <add key="Load.Clean" value="false" />
    <add key="Load.ReadWrite" value="W" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
